.vscode/launch.json
.vscode/settings.json

working_code.py
test.py
uptimerobot/test_code.py


uptimerobot/__pycache__/__init__.cpython-37.pyc
uptimerobot/__pycache__/uptimerobot.cpython-37.pyc
__pycache__/uptimerobot.cpython-37.pyc
